.board {
    box-shadow: 3px 3px 20px black;
    border: 2px solid white;
    @apply overflow-hidden flex flex-col-reverse;
}

.row {
    @apply flex;
}

.square {
    width: 4.2rem;
    height: 4.2rem;
    @apply flex justify-center items-center;
}

.black {
    @apply bg-black;
}

.white {
    @apply bg-white;
}

.green-black {
    @apply bg-green-700;
}

.green-white {
    @apply bg-green-300;
}

.green-dot {
    top: 0rem;
    left: 0rem;
    z-index: 100;
    box-shadow: 0px 0px 10px greenyellow;
    @apply relative bg-green-500 h-6 w-6 rounded-full;
}